.image {
	height: 75%;
}
.button {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(var(--body-height) / 3);
	margin: 0 10px;
	position: relative;
}
.name {
	text-align: center;
}
