.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--light);
	height: var(--header-height);
}
.dropdown {
	height: 100%;
	position: relative;
}
.logout {
	position: absolute;
	width: 100%;
	background-color: var(--light);
	right: 0;
	text-align: right;
	padding: 5px;
	padding-right: 15px;
	font-size: var(--small);
}
.logout:hover {
	background: var(--hover);
}
.item {
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 100%;
	font-size: var(--small);
	font-weight: 500;
}
.item:hover {
	background-color: var(--hover);
}
.email {
	color: var(--primary);
	font-style: italic;
}
