.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 4vmin;
}
.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.title {
	color: white;
	text-align: center;
	font-size: var(--large);
}
.image {
	width: 30vmin;
	margin: 0 auto;
}